<div class="head">
    <a href="/"><span class="glyphicon glyphicon-home">商城首页</span></a>
    <span>欢迎来到天猫商城</span>
    {% if user.is_authenticated %}
        {#表示登录成功显示#}
        <span>{{ user.username }}</span>
        <a href="{% url 'logout' %}">登出</a>
    {% else %}
        {#未登录显示#}
        <a href="{% url 'login' %}">登录</a>
        <a href="#">注册</a>
    {% endif %}
    <a href="#">我的订单</a>
        <a href="#">我的订单</a>
    <a href="{% url 'cart' %}" id="car"> <span class="glyphicon glyphicon-shopping-cart"></span>购物车
        {% if user.is_authenticated %} <span class="car_number">{{ shop_num }}</span>件 {% endif %}
    </a>
</div>