{% extends 'base/base.html' %}
{% load cache %}
{% load staticfiles %}
{% block title %}首页{% endblock %}
{% block page_css %}
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
{% endblock %}

{% block page_jq %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block page_head %}
    {% cache 60 'head' %}
        {% include 'include/search.html' %}
        {% include 'include/navgation.html' %}
        {% include 'include/cate.html' %}
        {% include 'include/banner.html' %}
    {% endcache %}
{% endblock %}
{% block page_main %}
    {% include 'include/content.html' %}
{% endblock %}
{% block page_footer %}

{% endblock %}
